@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-canvas-50 text-slate-800 font-sans antialiased;
  }
}

/* Custom Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f6f0;
}

::-webkit-scrollbar-thumb {
  background: #97caaf;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #40916c;
}
